@model QuickPass.Models.Event
@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">
    <h1>Buy Tickets Instantly with QuickPass</h1>
    <p>Find and purchase tickets for your favorite events in seconds.</p>
    <a href="/EventPage/List" class="CTAbtn">Browse Events</a>
</section>

<section id="events" class="events">
    <h2>Upcoming Events</h2>
    <div class="event-list">
        <div class="event">
            <img src="images/blank-featured-image.jpg" alt="Alternate Text" />
            <h3>Ricky Martin</h3>
            <p>	Enrique Martin Morales is a Puerto Rican singer, songwriter and actor....</p>
            <a class="CTAbtn" href="EventPage/Details/1">Buy Tickets</a>
        </div>
        <div class="event">
            <img src="images/blank-featured-image.jpg" alt="Alternate Text" />

            <h3>Shawn Mendes</h3>
            <p>Concert for the show</p>
            <a class="CTAbtn" href="EventPage/Details/2">Buy Tickets</a>
        </div>
        <div class="event">
            <img src="images/blank-featured-image.jpg" alt="Alternate Text" />
            <h3>Selena Gomez</h3>
            <p>Selena Marie Gomez is an American actress, singer, producer, and businesswoman...</p>
            <a class="CTAbtn" href="EventPage/Details/3">Buy Tickets</a>
        </div>
    </div>
</section>


@* <div class="text-center"> *@
@*     <h1 class="display-4">Welcome</h1> *@
@*     <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@* </div> *@
